body {
    background-color: #8EE4AF;
    color: #05386B;
}
.start-screen {
    display: inline-block;
    width: 100%;
    .data-panel {
        display: inline-block;
        border: 2px solid black;
        padding: 10px;
        .list-item {
            border: 2px solid black;
            text-align: center;
            padding: 10px;
            margin: 10px;
            float: left;
            width: 200px;
            .brand {
                font-weight: bold;
            }
            .price {
                font-weight: bold;
            }
            .product,
            .packing {
                padding-bottom: 5px;
            }
            .addToCart,
            .cartItem {
                background-color: #05386B;
                box-shadow: 4px 4px black;
                color: #EDF5E1;
                border: 1px solid darkgray;
                height: 28px;
            }
            .addToCart {
                outline: none;
                height: 28px;
                &:hover {
                    background-color: #EDF5E1;
                    color: #05386B;
                    cursor: pointer;
                }
            }
            .cartItem {
                display: inline-flex;
                align-items: center;
                .cartValue,
                .removeItem {
                    padding: 5px;
                    border-right: 1px solid;
                }
                .addItem,
                .removeItem,
                .cartValue {
                    padding: 5px;
                }
                .addItem,
                .removeItem {
                    &:hover {
                        background-color: #EDF5E1;
                        color: #05386B;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .cart-panel {
        border: 2px solid black;
        padding: 10px;
        display: none;
        float: right;
        &.show {
            display: block;
        }
        h1 {
            padding-left: 10px;
        }
        .header {
            border-bottom: 1px solid;
            width: 100%;
            text-align: center;
            padding-bottom: 15px;
        }
        .content {
            width: 100%;
            text-align: center;
            padding-left: 10px;
            td, th {
                padding-right: 5px;
            }
            th:first-child,
            td:first-child {
                text-align: left;
                width: 200px;
            }
            .remove {
                background-color: #05386B;
                box-shadow: 4px 4px black;
                outline: none;
                height: 28px;
                color: #EDF5E1;
                border: 1px solid darkgray;
                &:hover {
                    background-color: #EDF5E1;
                    color: #05386B;
                    cursor: pointer;
                }
            }
        }
    
    }

}
