body {
    background-color: beige;
}

.start-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid gold;
    &.hide {
        display: none;
    }
    .start-scr-img {
        width: 100%;
        height: 100%;
    }
}

.chathome-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; // margin-left: 450px;
    margin-right: 450px;
    border: 2px solid gold;
    &.hide {
        display: none;
    }
    .home-bg-img {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .content {
        width: auto;
        height: auto;
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 100px;
        .question {
            // position: relative;
            width: 100%;
            height: auto;
            margin-top: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-right: 3px; //float: right;
            text-align: right;
            color: blue;
            background-color: white;
            font-family: 'Lucida Sans';
            font-size: 12px;
            border: .4px solid gold;
            border-radius: 10px;
        }
        .answer {
            // position: relative;
            width: 100%;
            height: auto;
            margin-top: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 3px; //float: left;
            text-align: left;
            color: white;
            background-color: rgb(85, 85, 250);
            font-family: 'Lucida Sans';
            font-size: 12px;
            border: 1px solid blue;
            border-radius: 10px;
        }
    }
    .input-div {
        position: fixed;
        bottom: 50px;
        margin-left: 100px;
        border: 1px solid gold;
        border-radius: 5px;
        background-color: gold;
        input {
            padding: 3px;
            border: none;
            border-radius: 5px;
            height: 30px;
            width: 250px;
            outline: none;
            font-size: 12px;
            font-family: 'Lucida Sans';
            color: grey;
        }
        .send-btn {
            height: 20px;
            width: 80px;
            outline: none;
            background-color: gold;
            color: white;
            border: none;
            font-family: 'Lucida Sans';
        }
    }
}